*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
tools/kconfig-frontends/kconfig-mconf
packages
cconfig.h
GPUCache

#cscope files
cscope.*
ncscope.*

#ctag files
tags

#gd32f107 bsp
bsp/gd32f107/Objects/*
bsp/gd32f107/Listings/*
bsp/gd32f107/JlinkLog.txt
bsp/gd32f107/JlinkSettings.ini
*.uvguix.*
*.scvd
